@font-face {
    font-family: 'll_rubber_grotesqueregular';
    src: url('ll_rubber_grotesque_regular-webfont.woff2') format('woff2'),
         url('ll_rubber_grotesque_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}